*{
    margin: 0;
    padding: 1;
    font-family: sans-serif, 
}
.banner{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/images/olivia.gif);
    background-size: cover;
    background-position: center;
}
.copyright {
	text-align: center;
	margin-top: 50px;
	color: #000000;
}
.calculator{
    text-align: center;
	margin-top: 3px;
}
.downloader{
    text-align: center;
    margin-top: 15px;
}